{% extends "base.html" %}

{% block title %}植物管理{% endblock %}

{% block content %}

<h1>植物管理</h1>

<!-- 植物登録画面遷移ボタン -->
<a href="{% url 'plant_create' %}" class="button">
    + 植物を登録
</a>

<!-- 登録植物一覧表 -->
<table>
    <thead>
        <tr>
            <th>植物名</th>
            <th>種類</th>
            <th>開始日</th>
        </tr>
    </thead>

    <tbody>

        <!-- 登録済みがあるかどうか -->
        {% for plant in plants %}
            <tr>
                <td>
                    <a href="{% url 'plant_detail' plant.id %}">
                        {{ plant.custom_name }}
                    </a>
                </td>
                <td>{{ plant.plant_master.name }}</td>
                <td>{{ plant.start_date }}</td>
                <td>
                    <a href="{% url 'plant_detail' plant.id %}">
                        詳細
                    </a>

                    <a href="{% url 'plant_edit' plant.id %}">
                        編集
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">植物が登録されていません。</td>

                <td>
                    <a href="{% url 'plant_create' %}">
                        植物登録はこちらから
                    </a>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}