{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
            ObserLeaf
        {% endblock %}
    </title>

    <!-- 共通CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">

    <!-- ページごとのCSS -->
    {% block css %}
    {% endblock %}
</head>

<body>

    <header>

        <button id="menu-button">
            ☰
        </button>

        <h2>🌿 ObserLeaf</h2>

        <div id="realtime-clock">
            --:--:--
        </div>

    </header>

    <!-- サイドメニュー -->
    <nav id="sidebar">

        <ul>

            <li>
                <a href="{% url 'dashboard' %}">
                    📊 ダッシュボード
                </a>
            </li>

            <li>
                <a href="{% url 'plant_list' %}">
                    🌱 植物一覧
                </a>
            </li>
        </ul>
    </nav>

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <!-- 共通JS -->
    <script src="{% static 'js/clock.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>

    <!-- ページごとのJS -->
    {% block js %}
    {% endblock %}
    
</body>
</html>