{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
            ObserLeaf
        {% endblock %}
    </title>

    {% block css %}
    {% endblock %}
</head>

<body>

    <header>

        <button id="menu-button">
            ☰
        </button>

        <h2>🌿 ObserLeaf</h2>

        <div id="realtime-clock">
            --:--:--
        </div>

    </header>

    <main>

        {% block content %}
        {% endblock %}

    </main>

    <script src="{% static 'js/clock.js' %}"></script>

    {% block content %}
    {% endblock %}
    
</body>
</html>